version: '3.8'
services:
  db: 
    image: mysql:8.0
    container_name: db
    environment:
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_DATABASE: economy_db
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    volumes:
      - db_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    command: --default-authentication-plugin=mysql_native_password
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  bot:
    build: .
    container_name: bot
    depends_on:
      db:
        condition: service_healthy
    restart: always
    env_file:
      - .env
    volumes:
      - .:/bot
    environment:
      - TZ=Asia/Tokyo

volumes:
  db_data:
